html, body {
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-size: 16px;
}

/* ----- TYPOGRAPHY ----- */

h1, h2 {
    font-family: rancho, sans-serif; 
}

h1 {
    font-size: 3rem;
}

h2 {
    margin: 0;
    color: whitesmoke;
}

.copy {
    color: white;
    width: 7rem;
    /* margin-left: 3rem; */
    font-size: 1.2em;
    text-shadow: 0 0 6px black;
    background-color: rgba(5, 5, 5, 0.5);
    box-shadow: 0 0 6px black;
}

.asterix {
    color: white;
    text-shadow: 0 0 6px black;
    background-color: rgba(5, 5, 5, 0.5);
    box-shadow: 0 0 6px black;
    height: 1rem;
    align-self: flex-end;
}

/* ----- LAYOUT ----- */

header {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    background-color: #B0916E;
    color: #06080F;
}

.container {
    display: flex;
    width: 90%;
    /* width: 300px; */
    justify-content: center;
    /* align-content: center; */
    flex-direction: column;
    /* margin: auto; */
    padding: 1rem;
}

.title {
    margin: 0;
}

.subtitle {
    font-size: 1.6rem;
    font-family: 'Permanent Marker', cursive;
}

nav a {
    color: #06080F;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0.85em 0;
    display: block;
    font-family: 'Permanent Marker', cursive;
}

nav a:hover {
    text-shadow: 0 0 10px yellow;
}

ul {
    padding: 0 1rem;
    margin: 0;
    list-style-type: none;
}

.more-info, .contents {
    background: black;
    background-size: 100%;
    /* background-repeat: none; */
    margin: 0;
    padding: 1rem;
    /* width: 10rem; */
}

.more-info {
    background-image: url('images/abrams.jpg');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: cover;
}

.contents {
    background-image: url("images/kitten.jpg");
    background-position-y: 60%;
    background-size: cover;
}

.section-title {
    /* margin-left: 4rem; */
    text-shadow: 0 0 6px black;
    background-color: rgba(5, 5, 5, 0.5);
    box-shadow: 0 0 6px black;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    /* border: 1px solid tomato; */
    width: 92%;
}

.copy-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid blue; */
    margin-left: 2rem;
    /* background: red; */
}

.mystery-box {
    width: 10rem;
    height: 10rem;
}

.super8 {
    background-image: url("images/super8.jpg");
    background-size: 100%;
    background-position-y: 60%;
}

.star-trek {
    background-image: url("images/starTrek.jpg");
    background-size: 100%;
    background-position-y: 30%;
}

.star-wars {
    background-image: url("images/starWars.jpg");
    background-size: 100%;
    background-position-y: 30%;
}

.buy {
    background-image: url("images/clown.jpg");
    background-size: 100%;
    padding: 1rem;
    background-position-y: 50%;
}

/* .buy--title {
    color: #06080F;
    background: red;
} */

/* ----- MEDIA QUERIES ----- */

@media (max-width: 767px) {
    header {
        text-align: center;
    }
    li:not(:last-child){
        border-bottom: 1px solid black;
    }
}

@media (min-width: 768px) {
    header {
        text-align: left;
        padding: 1rem;
    }
    
    header .container, nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    
    li:not(:last-child) {
        border-right: 1px solid black;
        padding-right: 1rem;
    }
    .more-info {
        background-size: 767px;
        background-position-x: 50%;
    }
    
    .container {
        flex-direction: row;
    }
    
    .title {
        margin: 0;
    }
    
    .subtitle {
        margin-left: 2.5rem;
    }

    .contents {
        background-position-y: 55%;
    }
    
    .contents-wide {
        display: flex;
    }
    
    .super8, .star-trek {
        width: 33%;
        background-repeat: no-repeat;
        background-size: 200%;
        background-position-x: 20%;
    }
    
    .star-wars {
        width: 34%;
        background-repeat: no-repeat;
        background-size: 200%;
        background-position-x: 30%
    }
    
    .contents .content-wrapper {
        /* background: red; */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .contents p {
        width: 90%;
    }
    
    .contents br {
        display: none;
    }
    
    .contents .asterix {
        /* position: absolute; */
        width: 10rem;
        text-align: right;
    }

    .buy {
        background-position-y: 45%;
    }
}